In [1]:
import pandas as pd
import seaborn as sns

df = pd.read_excel("校正回歸_210528.xlsx")
cols = df.columns.tolist()
cols[0] = "date"
df.columns = cols
df = df.set_index("date")
df.columns.name = "released_date"
df = df.stack("released_date").to_frame("n").reset_index()
df = df[df["n"] > 0]

grouped = df.groupby("date")
new_gdf_data = []

for idx, gdf in grouped:
    #print("~~~~~~")
    gdf["last_n"] = gdf["n"].shift(1).fillna(0)
    gdf["diff_n"] = gdf["n"] - gdf["last_n"]
    #print(gdf)
    new_gdf_data.append(gdf)

df = pd.concat(new_gdf_data)
df = df[["date", "released_date", "n", "diff_n"]]
df = df[df["diff_n"] > 0]

df.to_csv("covid19_modified_twdata_20210528.csv", index=False)

<ipython-input-1-a856e3e39916>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gdf["last_n"] = gdf["n"].shift(1).fillna(0)
<ipython-input-1-a856e3e39916>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gdf["diff_n"] = gdf["n"] - gdf["last_n"]

In [2]:
df

          date released_date      n  diff_n
8   2021-05-10    2021-05-21    3.0     3.0
16  2021-05-11    2021-05-21    7.0     7.0
24  2021-05-12    2021-05-21   16.0    16.0
32  2021-05-13    2021-05-21   13.0    13.0
40  2021-05-14    2021-05-21   29.0    29.0
..         ...           ...    ...     ...
127 2021-05-26    2021-05-27  395.0    93.0
128 2021-05-26    2021-05-28  467.0    72.0
129 2021-05-27    2021-05-27  401.0   401.0
130 2021-05-27    2021-05-28  461.0    60.0
131 2021-05-28    2021-05-28  297.0   297.0

[82 rows x 4 columns]